workflows/workflows:02_pdf_ingestion.json
{
  "name": "Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        -208
      ],
      "id": "f6204f2f-86cc-4d66-bea4-445fa17db728",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/downloads/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -608,
        -208
      ],
      "id": "59d39dde-30e7-408d-a0a0-4ccb00d135e7",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -400,
        -208
      ],
      "id": "58c693b3-4e92-43b4-920d-66c83792989b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "research_papers",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        80,
        -208
      ],
      "id": "23a44cf5-3320-4197-a567-116fc3f84c40",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "KkyfJqSiHxQqyWTg",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -32,
        -32
      ],
      "id": "22e89730-6a89-4e7e-81a1-30b76604a804",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "dNFcTz8GIF8WvYZQ",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const text = item.json.text; \n  \n  const filename = $('Read/Write Files from Disk').all()[i].json.fileName;\n\n  const chunks = text.match(/[\\s\\S]{1,500}/g) || [];\n\n  chunks.forEach(chunk => {\n    newItems.push({\n      json: {\n        stamped_content: `SOURCE: ${filename}\\n----------------\\n${chunk}`,\n        source: filename\n      }\n    });\n  });\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -208
      ],
      "id": "235133e7-4def-474b-a455-028be9a55f2e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $json.source }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        192,
        -32
      ],
      "id": "ac4d27a4-1e3b-4c8b-9dd5-84a83298514e",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "246fe72d-4ebb-4f11-bcc4-507181f10665",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5e3f0de7a9cbd50be62bd008c6f7671bc2cddab33b7085b3b411c715b6e5093"
  },
  "id": "VoaPPWCGUB8ERlWr",
  "tags": []
}